body {
background-color: lime;

}

* {
font-size: 50px;
}


.Spaghet{
padding: 20px;
color: red;


}

.Fish{
padding: 20px;
color:aqua;


}


.Jollof{
padding: 20px;
color: purple;


}

.Tryout {

font-size: 70px;
color: aqua;



}